body{
    background-color: #EEF9BF;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    width: 1072px;
}
header{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
}
header h1{
    color: #75B79E;
    font-weight: 700;
    font-size: 56px;
}
.carta{
    width: 117px;
    height: 146px;
    margin-right: 55px;
    background-color: #A7E9AF;
    border-radius: 5px;
    border: 2px solid #99CEA8;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform .5s;
    transform-style: preserve-3d;
}
ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    height: 500px;
}
.carta img{
    height: 100px;
    width: 100px;
}